<div class="container">
  <% if @user %>
    <h1>Welcome, <%= @user.username %></h1>
    <!-- enter new tweet form -->
    <form method="post" action="/new_tweet">
      <textarea rows="4" cols="50" name="tweet_content" maxlength="140" placeholder="140 characters or less." style="width: 100%;"></textarea>
      <!-- <div><input type="submit" value="Tweet"></div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Tweet">Tweet!</button>
    </form>
    <!-- tweet feed displays all relevant tweets -->
    <h3>tweets:</h3>
    <% @tweets.each do |tweet| %>
      <div>
        <!-- parse datetime into readable form -->
        <b><%= @users.find(tweet.author_id).first.username %></b><br>
        <% day = tweet.created_at.day %>
        <% month = tweet.created_at.month %>
        <% year = tweet.created_at.year %>
        <% hour = tweet.created_at.hour %>
        <% minute = tweet.created_at.min %>
        <!-- print tweet datetime  -->
        <%= "#{hour}:#{minute} #{month}/#{day}/#{year}" %><br><br>
        <!-- print tweet content  -->
        <%= tweet.content %><br>
        <form method="post" action="/retweet">
            <input type="hidden" name="author_id" value="<%= tweet.author_id %>">
            <input type="hidden" name="content" value="<%= tweet.content %>">
            <input type="submit" value="Retweet">
        </form>
      </div>
    <% end %>
  <% end %>
</div>
